@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Header design */
.header {
  background-color: #fff8f3;
  background-image: url("/images/header_bg.png"), url("/images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}

.navber {
  width: 78%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  margin: auto;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item li {
  list-style: none;
  margin-right: 30px;
}

.nav-item li a {
  text-decoration: none;
  color: black;
}

.head-btn {
  padding: 10px 20px;
  border: none;
  background-color: #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}
/* navber close */

.banner {
  padding: 30px 50px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-btn {
  padding: 10px 20px;
  border: none;
  /* background-color: #fd6e0a; */
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
  color: #fd6e0a;
  font-size: 18px;
  margin-left: 10px;
}

.banner .profile-pic {
  width: 400px;
}

/* About section start */

.about-section {
  padding: 70px 0;
}

.about-section .about-container {
  width: 70%;
  margin: auto;
  padding: 50px 70px;
  background-color: #fff8f3;
  text-align: center;
  border-radius: 10px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

/* what i do section  */

.what-i-section {
  padding: 50px 0;
}

.experience-container {
  width: 70%;
  margin: auto;
}

.skil-container {
  display: flex;
  gap: 15px;
}

.skil-card {
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 20px 10px;
  line-height: 30px;
}

/* A summary my resume start  */

.summary-section {
  padding: 50px 0;
}
